@page
@model aDealerEDVMS.RazorWebApps.ToanHH.Pages.Dealers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DealersHht</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DealersHht.DealerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealersHht.DealerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DealersHht.DealerCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealersHht.DealerCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DealersHht.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealersHht.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DealersHht.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealersHht.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DealersHht.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealersHht.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DealersHht.EstablishedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealersHht.EstablishedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DealersHht.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealersHht.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DealersHht.TotalStaff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealersHht.TotalStaff)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DealersHht.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealersHht.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DealersHht.LastAudit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealersHht.LastAudit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DealersHht.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealersHht.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DealersHht.DealerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
